
.container{
  margin-top:1%;
}

.main{
  background-color: black;
}


.uni {
    transition-duration: 3s;
    transition-property: background-color;
  }

.navbar{
background: rgba(0, 0, 0, 0.7);
height: 15%;
}

.about-banner-text {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  max-width: 900px;
  margin: auto;
  padding-top: 130px;
  position: fixed;
}

.about-banner-text-divide {
  background-color: white;
  height: 1px;
  width: 100px;
  margin: 25px auto;
}



.containerDiv {
  width: 100%;
  margin: auto;
  max-width: 1250px;
}

.about-banner-sec{
    background-image: url(../images/rotateImg.jpg);
    background-size: cover;
    height: 350px;
    position: relative;
    animation: 120s scale infinite linear;;
    background-repeat: repeat-x;
}

@keyframes scale {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 0, 1000px 100%, 400px 0;
}
}

.about-banner-text {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    max-width: 900px;
    margin: auto;
    padding-top: 130px;
    color:white;
}
