.container{
    margin-top: 100px ;
}

.uni {
    transition-duration: 3s;
    transition-property: background-color;
  }

/* Import the google web fonts you want to use */

/* Import the google web fonts you want to use */

// .col_half { width: 49%; }
// .col_third { width: 32%; }